@font-face {
font-family: 'Cera CY';
src: url('../fonts/cera-bold-webfont.woff2') format('woff2'),
        url('../fonts/cera-bold-webfont.woff') format('woff');
font-weight: 700;
font-style: normal;
}

@font-face {
font-family: 'Cera CY';
src: url('../fonts/cera-regular-webfont.woff2') format('woff2'),
        url('../fonts/cera-regular-webfont.woff') format('woff');
font-weight: normal;
font-style: normal;
}

body, html {
height: 100%;
min-height: 100%;
min-width: 320px;
}

body {
padding: 0px;
margin: 0px;
color: #fff;
line-height: 1.5;
font-size: 18px;
font-family: 'Cera CY', Arial, Helvetica, sans-serif;
background: #0348A8;
font-weight: 400;
display: flex;
}

img {
border-style: none;
}

*, *:before, *:after {
box-sizing: border-box;
touch-action: manipulation;
}

*:hover,
*:focus,
*:active {
outline: none;
}

a:not(.button) {
text-decoration: none;
color: inherit;
}

a:not(.button):hover {
text-decoration: underline;
}

b {
font-weight: 700;
}

p {
margin: 0 0 1.25em;
}

p:last-child {
margin-bottom: 0;
}

input::-ms-clear {
display: none;
}

.center {
text-align: center;
}

.nowrap {
white-space: nowrap;
}

.visually-hidden {
position: absolute;
width: 1px;
height: 1px;
margin: -1px;
padding: 0;
border: 0;
clip: rect(0 0 0 0);
overflow: hidden;
}

.button {
display: inline-block;
vertical-align: top;
font-size: 18px;
color: #fff;
text-decoration: none;
padding: 20px 25px;
line-height: 1;
height: 60px;
text-align: center;
white-space: nowrap;
border: 0 none;
margin: 0;
font-family: 'Cera CY', Arial, Helvetica, sans-serif;
font-weight: 700;
border-radius: 5px;
background: #0348A8;
position: relative;
}

.button--blue {
top: 0;
box-shadow: 0 5px 0px #113362;
transition: top 0.15s ease, box-shadow 0.15s ease;
}

.no-touch .button--blue:hover {
top: 3px;
box-shadow: 0 2px 0px #113362;
}

.button--white {
background: #fff;
color: #2A52BC;
box-shadow: 0 5px 0px #113362;
transition: background-color 0.15s ease, color 0.15s ease;
}

.no-touch .button--white:hover {
color: #fff;
background-color: #0B154E;
}

.page-holder {
position: relative;
height: 100%;
max-height: 1080px;
min-height: 580px;
width: 100%;
max-width: 1920px;
margin: auto;
overflow: hidden;
flex: 1 1 100%;
background: url(../upload/bday-2022/bg.jpg) no-repeat center center transparent;
background-size: cover;
display: flex;
}

.accept_popup {
position: absolute;
bottom: 0;
left: 0;
right: 0;
background: #0B154E;
box-shadow: 0px 15px 30px 6px rgba(0, 0, 0, 0.15);
z-index: 100;
padding: 24px;
text-align: left;
color: rgba(255,255,255,0.9);
font-size: 14px;
line-height: 1.5;
}

.accept_popup__outer {
margin: 0 auto;
max-width: 1200px;
padding: 0 50px 0 0;
position: relative;
}

.accept_popup a {
color: inherit;
font-weight: 700;
border-bottom: 1px solid rgba(255,255,255,0.5);
}

.accept_popup a:hover {
text-decoration: none;
border-color: transparent;
}

@keyframes pulse {
    0% {
        transform: scale3d(1, 1, 1);
    }
    25% {
        transform: scale3d(1.05, 1.05, 1.05);
    }
    50% {
        transform: scale3d(1, 1, 1);
    }
    100% {
        transform: scale3d(1, 1, 1);
    }
}

.accept_popup .close {
display: block;
width: 65px;
position: absolute;
right: 0;
font-size: 18px;
line-height: 22px;
color: #2C3B92;
font-weight: 700;
top: 50%;
margin: -19px 0 0;
text-decoration: none;
background: #DFE4FF;
border-radius: 20px;
-webkit-appearance: none;
appearance: none;
border: 0 none;
padding: 8px 0;
text-align: center;
font-family: 'Cera CY', Arial, Helvetica, sans-serif;
transform-origin: center center;
}

.accept_popup .close.pulse {
    animation: pulse 1s ease-in-out 0s infinite;
}

.header {
position: absolute;
top: 40px;
left: 55px;
right: 55px;
z-index: 950;
height: 0px;
}

.header__logo {
display: inline-block;
}

.header__logo img {
display: block;
height: 50px;
}

.header__controls {
white-space: nowrap;
position: absolute;
top: 0;
margin-top: -2px;
right: 0;
}

.header #sound {
width: 55px;
height: auto;
margin: 0;
padding: 0;
background: transparent;
font-size: 0px;
line-height: 0px;
color: transparent;
transition: background-color 0.2s ease;
border: 1px solid #fff;
}

.no-touch #sound:hover {
background-color: #fff;
}

#sound:before {
content: "";
display: block;
padding-top: 100%;
}

#sound:after {
content: "";
display: block;
position: absolute;
top: 50%;
left: 50%;
margin: -12px 0 0 -12px;
width: 24px;
height: 24px;
background: url("data:image/svg+xml,%3Csvg width='32' height='32' viewBox='0 0 32 32' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M14.668 6.66687L8.0013 12.0002H2.66797V20.0002H8.0013L14.668 25.3335V6.66687Z' stroke='white' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M25.4274 6.57349C27.927 9.07386 29.3312 12.4646 29.3312 16.0002C29.3312 19.5357 27.927 22.9264 25.4274 25.4268M20.7207 11.2802C21.9705 12.5303 22.6726 14.2257 22.6726 15.9935C22.6726 17.7612 21.9705 19.4566 20.7207 20.7068' stroke='white' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E") no-repeat 0 0 transparent;
background-size: 24px 24px;
}

.no-touch #sound:hover:after {
background-image: url("data:image/svg+xml,%3Csvg width='32' height='32' viewBox='0 0 32 32' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M14.668 6.66687L8.0013 12.0002H2.66797V20.0002H8.0013L14.668 25.3335V6.66687Z' stroke='%230348A8' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M25.4274 6.57349C27.927 9.07386 29.3312 12.4646 29.3312 16.0002C29.3312 19.5357 27.927 22.9264 25.4274 25.4268M20.7207 11.2802C21.9705 12.5303 22.6726 14.2257 22.6726 15.9935C22.6726 17.7612 21.9705 19.4566 20.7207 20.7068' stroke='%230348A8' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
}

#sound.off:after {
width: 15px;
margin-left: -6px;
}

.page-screen__start.hidden {
display: none;
}

.main-bg {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
overflow: hidden;
}

.start-bg {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
background: url(../upload/bday-2022/start-bg.png) no-repeat center center transparent;
background-size: contain;
}

.main-bg .floor {
position: absolute;
height: 300px;
width: 2590px;
left: 50%;
margin-left: -1295px;
bottom: -45px;
background: #0F3A9E;
border-radius: 50%;
transition: border-radius 0.35s linear, bottom 0.25s linear;
}

.main-bg.in-game .floor {
border-radius: 0;
}

.main-bg.end-game .floor {
bottom: -300px;
border-radius: 0;
}

.main-bg .present-left {
position: absolute;
bottom: 11%;
top: 28%;
left: 0;
width: 344px;
background: url(../upload/bday-2022/presents1.svg) no-repeat bottom left transparent;
background-size: auto 100%;
transform-origin: top left;
transform: scale(1);
transition: transform 0.25s linear;
}

.main-bg.end-game .present-left {
transform: translateY(170px) scale(2);
}

.main-bg .present-right {
position: absolute;
bottom: 19%;
top: 12.5%;
right: 0;
width: 587px;
background: url(../upload/bday-2022/presents2.svg) no-repeat bottom right transparent;
background-size: auto 100%;
transform-origin: top right;
transform: scale(1);
transition: transform 0.25s linear;
}

.main-bg.end-game .present-right {
transform: translateX(170px) scale(1.7);
}

.main-bg:before,
.main-bg:after {
content: "";
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
background: url(../upload/bday-2022/noise2.png) repeat center center transparent;
}

.main-bg:before {
display: none;
}

.page-screen__start {
margin: auto;
max-width: 1330px;
flex: 1 1 100%;
padding: 90px 55px;
}

.start-man {
position: absolute;
top: 50px;
bottom: 50px;
right: 0;
width: 46%;
background: url(../upload/bday-2022/start-man.png) no-repeat left bottom transparent;
background-size: contain;
z-index: 1;
}

.start-man.hidden {
right: -50%;
transition: right 0.4s ease-in;
}

.start-outer {
max-width: 660px;
position: relative;
z-index: 10;
}

h1 {
font-weight: 700;
font-size: 100px;
line-height: 0.9;
margin: 0 0 30px;
}

.start-text {
font-size: 20px;
line-height: 1.25;
max-width: 535px;
}

.page-screen__start .button {
margin-top: 30px;
width: 230px;
box-shadow: 0 0 0px #113362;
}

/* ----- game ----- */

.page-screen__game {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
display: flex;
align-items: center;
justify-content: center;
/*font-size: 0.9259vh;*/
opacity: 0;
overflow: hidden;
}

.page-screen__game.hidden {
left: -100%;
}

.page-screen__game.visible {
transition: opacity 0.15s ease;
opacity: 1;
}

.game-top {
position: absolute;
top: 30px;
left: 0;
right: 0;
text-align: center;
z-index: 20;
display: flex;
justify-content: center;
opacity: 1;
transition: opacity 0.15s ease;
}

.game-top.hidden {
opacity: 0;
}

.game-top__item {
margin: 0 20px;
font-size: 32px;
line-height: 35px;
font-weight: 700;
text-shadow: 0px 4px 20px #18287F;
transform-origin: top center;
transform: matrix(1, 0, -0.09, 1, 0, 0);
}

.game-top__item b {
display: block;
font-size: 86px;
line-height: 1;
white-space: nowrap;
}

.game-top__item b.timer {
width: 175px;
text-align: left;
margin: 0 auto;
}

.game-area {
position: absolute;
top: 0;
left: 0;
width: 100%;
bottom: 18.5%;
overflow: hidden;
transform: translateY(10%);
opacity: 0;
transition: transform 0.3s ease-out 0.15s, opacity 0.3s ease-out 0.15s;
}

.page-screen__game.visible .game-area {
transform: translateY(0%);
opacity: 1;
}

.game-conveyor {
position: absolute;
height: 225px;
width: 2026px;
left: 50%;
bottom: 0;
margin-left: -1013px;
background: url(../upload/bday-2022/conveyor.png) no-repeat top center transparent;
}

.game-lenta {
position: absolute;
bottom: 100%;
width: 100%;
left: 0;
white-space: nowrap;
height: 0px;
font-size: 0px;
margin-bottom: -4px;
}

.game-lenta.move {
transition: left 0.6s ease-in-out;
left: -33%;
}

.game-lenta > i {
display: inline-block;
vertical-align: bottom;
width: 33.33%;
position: relative;
}

.game-lenta > i:before {
content: "";
position: absolute;
bottom: 0;
width: 468px;
height: 500px;
background: url(../upload/bday-2022/bags.png) no-repeat 0 0 transparent;
left: 50%;
transform-origin: bottom center;
transform: translateX(-50%);
}

.game-lenta > i.bag2:before {
background-position: -547px 0;
width: 317px;
}

.game-lenta > i.bag3:before {
background-position: -888px 0;
width: 337px;
}

.game-lenta > i.bag4:before {
background-position: -1284px 0;
width: 375px;
}

.game-lenta > i.bag5:before {
background-position: -1646px 0;
width: 383px;
}

.game-lenta > i.bag6:before {
background-position: 0 -502px;
width: 291px;
}

.game-lenta > i.bag7:before {
background-position: -318px -502px;
width: 258px;
}

.game-lenta > i.bag8:before {
background-position: -613px -502px;
width: 252px;
}

.game-lenta > i.bag9:before {
background-position: -945px -502px;
width: 374px;
}

.game-lenta > i.bag10:before {
background-position: -1398px -502px;
width: 286px;
}

.game-scanner {
position: absolute;
height: 698px;
width: 660px;
bottom: 0;
left: 50%;
margin-left: -330px;
background: url(../upload/bday-2022/scanner.png) no-repeat top center transparent;
transform-origin: bottom center;
}

.game-screen {
width: 481px;
height: 417px;
position: absolute;
top: 53px;
left: 50%;
margin-left: -230px;
}

.game-screen__layers {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
overflow: hidden;
}

.game-screen__item {
position: relative;
width: 100%;
height: 100%;
display: flex;
flex-flow: row nowrap;
align-items: center;
justify-content: center;
opacity: 0;
}

.game-screen__item.shown {
opacity: 1;
}

.game-screen__item .item {
flex: 0 1 auto;
width: 438px;
height: 285px;
background: url(../upload/bday-2022/item1.png) no-repeat -438px 0 transparent;
}

.game-screen__item .item:before {
display: block;
width: 100%;
height: 100%;
background: url(../upload/bday-2022/item1.png) no-repeat 0 0 transparent;
}

.game-screen__item .item1-2 {
background-position: -438px -285px;
}

.game-screen__item .item1-2:before {
background-position: 0 -285px;
}

.game-screen__item .item1-3 {
background-position: -438px -570px;
}

.game-screen__item .item1-3:before {
background-position: 0 -570px;
}

.game-screen__item .item.item2-1,
.game-screen__item .item.item2-2,
.game-screen__item .item.item2-3 {
width: 450px;
height: 377px;
background-image: url(../upload/bday-2022/item2-2.png);
background-position: -450px 0;
}

.game-screen__item .item.item2-1:before,
.game-screen__item .item.item2-2:before,
.game-screen__item .item.item2-3:before {
background-image: url(../upload/bday-2022/item2-2.png);
background-position: 0 0;
}

.game-screen__item .item.item2-1 {
background-position: -450px 0;
}

.game-screen__item .item.item2-1:before {
background-position: 0 0;
}

.game-screen__item .item.item2-2 {
background-position: -450px -377px;
}

.game-screen__item .item.item2-2:before {
background-position: 0 -377px;
}

/*.game-screen__item .item.item2-3 {
background-position: -450px -753px;
}

.game-screen__item .item.item2-3:before {
background-position: 0 -753px;
}*/

.game-screen__item .item.item3-1,
.game-screen__item .item.item3-2,
.game-screen__item .item.item3-3 {
width: 450px;
height: 410px;
background-image: url(../upload/bday-2022/item3.png);
background-position: -450px 0;
}

.game-screen__item .item.item3-1:before,
.game-screen__item .item.item3-2:before,
.game-screen__item .item.item3-3:before {
background-image: url(../upload/bday-2022/item3.png);
background-position: 0 0;
}

.game-screen__item .item.item3-1 {
background-position: -450px 0;
}

.game-screen__item .item.item3-1:before {
background-position: 0 0;
}

.game-screen__item .item.item3-2 {
background-position: -450px -410px;
}

.game-screen__item .item.item3-2:before {
background-position: 0 -410px;
}

.game-screen__item .item.item3-3 {
background-position: -450px -820px;
}

.game-screen__item .item.item3-3:before {
background-position: 0 -820px;
}

.game-screen__item .item.item4-1,
.game-screen__item .item.item4-2,
.game-screen__item .item.item4-3 {
width: 330px;
height: 390px;
background-image: url(../upload/bday-2022/item4-2.png);
background-position: -330px 0;
}

.game-screen__item .item.item4-1:before,
.game-screen__item .item.item4-2:before,
.game-screen__item .item.item4-3:before {
background-image: url(../upload/bday-2022/item4-2.png);
background-position: 0 0;
}

.game-screen__item .item.item4-1 {
background-position: -330px 0;
}

.game-screen__item .item.item4-1:before {
background-position: 0 0;
}

.game-screen__item .item.item4-2 {
background-position: -330px -390px;
}

.game-screen__item .item.item4-2:before {
background-position: 0 -390px;
}

/*.game-screen__item .item.item4-3 {
background-position: -330px -780px;
}

.game-screen__item .item.item4-3:before {
background-position: 0 -780px;
}*/

.game-screen__item .item.item5-1,
.game-screen__item .item.item5-2,
.game-screen__item .item.item5-3 {
width: 450px;
height: 230px;
background-image: url(../upload/bday-2022/item5-2.png);
background-position: -450px 0;
}

.game-screen__item .item.item5-1:before,
.game-screen__item .item.item5-2:before,
.game-screen__item .item.item5-3:before {
background-image: url(../upload/bday-2022/item5-2.png);
background-position: 0 0;
}

.game-screen__item .item.item5-1 {
background-position: -450px 0;
}

.game-screen__item .item.item5-1:before {
background-position: 0 0;
}

.game-screen__item .item.item5-2 {
background-position: -450px -230px;
}

.game-screen__item .item.item5-2:before {
background-position: 0 -230px;
}

/*.game-screen__item .item.item5-3 {
background-position: -450px -460px;
}

.game-screen__item .item.item5-3:before {
background-position: 0 -460px;
}*/

.done .game-screen__item .item {
background-image: none;
}

.done .game-screen__item .item:before {
content: "";
}

.game-screen__bg {
position: absolute;
top: -9px;
left: -12px;
width: 493px;
height: 435px;
background: url(../upload/bday-2022/screen.png) no-repeat 0 0 transparent;
opacity: 0;
}

.done .game-screen__bg {
opacity: 1;
}

.game-area.right .game-screen__bg {
background-position: -494px 0;
}

.answers-vars {
position: absolute;
bottom: 60px;
left: 0;
right: 0;
transition: opacity 0.15s ease;
}

.answers-vars.hidden {
opacity: 0;
}

.answers-vars p {
margin: 0 0 20px;
font-weight: 700;
font-size: 24px;
line-height: 1;
text-align: center;
}

.answers-vars__buttons {
display: flex;
flex-flow: row nowrap;
align-items: stretch;
justify-content: center;
position: relative;
}

.answers-vars.blocked .answers-vars__buttons:after {
content: "";
position: absolute;
top: 0;
left: 0;
right: 0;
bottom: 0;
}

.answer {
display: block;
width: 336px;
height: 65px;
margin: 0 14px;
padding: 0 10px;
}

.answers-vars .answer {
transition: background-color 0.15s ease, color 0.15s ease;
}

.game-area.right ~ .answers-vars .answer.choose {
background: #4C80D5;
color: #fff;
}

.game-area.wrong ~ .answers-vars .answer.choose {
background: #800869;
color: #fff;
}

/* final */

.page-screen__final {
width: 100%;
height: 100%;
display: flex;
opacity: 1;
transition: opacity 0.15s ease;
position: relative;
}

.page-screen__final.hidden {
position: absolute;
left: -100%;
z-index: -1;
opacity: 0;
}

.page-screen__final .final-outer {
margin: auto;
z-index: 10;
flex: 1 1 100%;
}

.preform {
padding-top: 100px;
}

.preform:before {
content: "";
width: 319px;
height: 271px;
position: absolute;
top: -140px;
left: 50%;
margin-left: -160px;
background: url(../upload/bday-2022/preform.png) no-repeat 0 0 transparent;
transform-origin: top center;
}

.popup_num {
font-weight: 700;
font-size: 36px;
line-height: 1;
color: #780E71;
}

/* popup */

.hidden_popup {
display: none;
}

.popup {
max-width: 550px;
margin: 0 auto;
background: #fff;
border-radius: 10px;
position: relative;
box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.25);
}

.popup.with_sc {
margin-bottom: 105px;
}

.popup_inner {
padding: 50px;
font-size: 18px;
line-height: 1.5;
color: #000000;
text-align: center;
}

.popup_title {
font-size: 24px;
line-height: 1.2;
font-weight: 700;
margin: 0 0 20px;
color: #0348A8;
}

.popup_text {
margin: 0 auto;
/*max-width: 420px;*/
}

.popup_text + .popup_text {
margin-top: 30px;
}

.popup_img {
display: block;
max-width: 100%;
margin: 10px auto;
}

.popup_buttons {
margin: 30px 0 0;
}

.popup_buttons .button {
width: 100%;
}

.subscribe_form {
margin-top: 30px;
}

.input_hld {
margin: 0 0 30px;
position: relative;
}

.input_hld .input-label {
position: absolute;
top: 14px;
left: 15px;
font-size: 18px;
line-height: 27px;
color: #E6EAF0;
transition: top 0.15s ease, font-size 0.15s ease, line-height 0.15s ease, color 0.15s ease;
}

.input_hld .text_input:focus ~ .input-label,
.input_hld .text_input.with_val ~ .input-label {
font-size: 14px;
line-height: 21px;
top: 5px;
color: #8B98A7;
}

.text_input {
display: block;
box-sizing: border-box;
width: 100%;
background: transparent;
padding: 22px 13px 3px 13px;
font-size: 18px;
line-height: 27px;
font-family: 'Cera CY', Arial, Helvetica, sans-serif;
font-weight: 400;
color: #000;
margin: 0;
border: 2px solid #E6EAF0;
position: relative;
z-index: 5;
}

.text_input::-webkit-input-placeholder {
color: #E6EAF0;
}
.text_input:-moz-placeholder,
.text_input::-moz-placeholder {
color: #E6EAF0;
opacity: 1;
}
.text_input:-ms-input-placeholder {
color: #E6EAF0;
}

.text_input.error {
border-color: #C84F4F;
}

.clear-input {
display: none;
width: 24px;
height: 24px;
border: 0 none;
padding: 0;
margin: -12px 0 0;
border-radius: 50%;
background: url(../upload/bday-2022/clear.svg) no-repeat center center #F4DCDC;
font-size: 0px;
overflow: hidden;
color: transparent;
position: absolute;
top: 50%;
right: 17px;
z-index: 7;
}

.input_hld .text_input.with_val.error {
padding-right: 45px;
}

.input_hld .text_input.with_val.error ~ .clear-input {
display: block;
}

.input_box {
text-align: left;
}

.input_box + .input_box {
margin-top: 20px;
}

.checkbox_hld {
font-size: 0px;
position: relative;
}

.checkbox {
display: inline-block;
vertical-align: top;
padding-left: 30px;
font-size: 14px;
line-height: 1.5;
}

.checkbox span:before {
content: "";
display: block;
width: 20px;
height: 20px;
border: 2px solid #E6EAF0;
border-radius: 3px;
position: absolute;
top: 0;
left: 0;
}

.checkbox a {
color: #0348A8;
}

.checkbox input.error ~ span:before{
border-color: #C84F4F;
}

.checkbox input ~ span:after {
content: "";
display: block;
width: 20px;
height: 20px;
box-sizing: border-box;
border: 2px solid transparent;
position: absolute;
top: 0;
left: 0;
background: url("data:image/svg+xml,%3Csvg width='12' height='9' viewBox='0 0 12 9' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11 1L4.125 8L1 4.81818' stroke='%230348A8' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A") no-repeat center center transparent;
opacity: 0;
}

.checkbox input:checked ~ span:after {
opacity: 1;
}

.recaptcha_box {
height: 78px;
/*border: 1px solid transparent;
background: #F9F9F9;*/
margin: 30px 0 35px;
position: relative;
overflow: hidden;
}

.recaptcha_box #Recaptcha {
transform-origin: 0 0;
}

.form .btn_hld .button {
display: block;
width: 100%;
margin-top: 35px;
}

.form .btn_hld .button--blue.loading {
opacity: 0.7;
top: 0;
box-shadow: 0 5px 0px #113362;
}

.form label.error {
font-size: 12px;
line-height: 15px;
color: #C84F4F;
position: absolute;
top: 100%;
left: 0;
}

.thanks .popup_img {
margin-top: 0;
}

.sc_block {
position: absolute;
top: 100%;
left: 0;
right: 0;
color: #fff;
margin-top: 20px;
}

.sc_block p {
font-size: 18px;
margin: 0 0 10px;
}

.sc_block--links {
font-size: 0px;
white-space: nowrap;
display: flex;
flex-flow: row nowrap;
justify-content: center;
}

.sc_block--links > div + div {
margin-left: 8px;
}

.sc_link {
display: block;
width: 48px;
height: 48px;
border-radius: 50%;
background: url(../upload/bday-2022/sc-vk.svg) no-repeat center center rgb(231, 238, 248);
position: relative;
transition: background-color 0.2s linear;
}

.no-touch .sc_link:hover {
background-color: rgba(231, 238, 248, 0.7);
}

.sc_link.sc_tg {
background-image: url(../upload/bday-2022/sc-tg.svg);
}

.sc_link.sc_ok {
background-image: url(../upload/bday-2022/sc-ok.svg);
}

.sc_link.sc_wa {
background-image: url(../upload/bday-2022/sc-wa.svg);
}

.sc_link.sc_vi {
background-image: url(../upload/bday-2022/sc-vi.svg);
}

#mobile_detect {
width: 1px;
height: 1px;
position: absolute;
top: 0;
left: 0;
display: none;
font-size: 1vh;
}

.mfp-container {
padding: 16px;
}

.mfp-bg {
background: rgba(5, 24, 74, 0.65);
opacity: 1;
}